DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=PASSWORD
DATABASE_NAME=task_manager
DATABASE_URL=
APP_ENV=development
APP_NAME=Task Manager API
API_V1_PREFIX=/api/v1
BACKEND_CORS_ORIGINS=http://localhost:5173
